div.view-container {
  display: flex;
  flex-direction: column;
  // padding: 0.5rem;

  // div.day-list {
  //   display: flex;
  //   flex-direction: column;
  //   flex: 1;
  //   margin: 0.5rem;

  // //   mat-card {
  // //     padding: 0rem;

  // //     mat-list-item {
  // //       cursor: pointer;

  // //       &:hover {
  // //         background-color: rgba(63, 81, 181, 0.1);
  // //       }
  // //     }

  //     mat-list-item.active-day {
  //       background-color: rgba(63, 81, 181, 1);
  //       color: rgba(255, 255, 255, 1);
  //     }

  //     div.card-title {
  //       display: flex;
  //       flex-direction: column;
  //       padding-top: 1rem;
  //       font-size: 1.75rem;
  //     }

  //     div.day-index {
  //       display: flex;
  //       flex-direction: column;
  //       padding: 0.5rem 0rem;
  //       font-size: 1.3rem;
  //     }

  //     div.day-place-holder {
  //       display: flex;
  //       align-items: center;
  //     }
  //   }
  // }

  // div.day-details {
  //   display: flex;
  //   flex-direction: column;
  //   flex: 3;
  //   margin: 0.5rem;

  // //   mat-tab-group {
  // //    display: flex;
  // //    flex-direction: row;

  // //     ::ng-deep div.mat-tab-labels {
  // //       flex-direction: column;
  // //     }
  // //   }

  //   div.tab-content {
  //     padding: 0.5rem 0rem;
  //   }

  //   div.tab-content#hotel-card-holder {
  //     display: flex;
  //     flex-flow: row wrap;
  //     justify-content: space-around;
  //   }

  //   mat-card.hotel-card {
  //     width: 25rem;
  //     margin: 0.5rem;
  //     ::ng-deep div.mat-card-header-text {
  //       display: flex;
  //       flex-direction: column;
  //       flex-grow: 1;
  //     }
  //     div.hotel-detail-holder {
  //       display: flex;
  //       justify-content: space-between;
  //       align-items: center;
  //     }
  //   }
  // }

  mat-tab-group {
    display: flex;
    flex-direction: row;

    /deep/ {
      mat-tab-header.mat-tab-header {
        border-bottom: 0px solid rgba(0, 0, 0, 0);
        min-width: 15rem;
        max-width: 25rem;
      }

      div.mat-tab-labels {
        flex-direction: column;
      }

      div.mat-tab-label {
        height: auto;
        justify-content: flex-start;
        align-items: flex-start;
      }

      div.mat-tab-label-active {
        opacity: 1;
      }

      mat-ink-bar.mat-ink-bar {
        display: none;
      }

      div.mat-tab-header-pagination {
        display: none;
      }

      div.mat-tab-body-wrapper {
        flex: 1 1 auto;
      }
    }

    mat-tab-group {
      display: flex;
      flex-direction: column;

      /deep/ {
        mat-tab-header.mat-tab-header {
          border-bottom: 1px solid rgba(0, 0, 0, 0.12);
          min-width: unset;
          max-width: unset;
        }

        div.mat-tab-labels {
          flex-direction: row;
        }

        div.mat-tab-label {
          height: 3rem;
          justify-content: center;
          align-items: center;
        }

        div.mat-tab-label-active {
          opacity: 1 !important;
        }

        mat-ink-bar.mat-ink-bar {
          display: flex;
        }

        div.mat-tab-header-pagination {
          display: flex;
          align-self: stretch;
        }

        div.mat-tab-body-wrapper {
          flex: 1 0 auto;
        }
      }

      div.tab-content {
        display: flex;
        // padding: 0.5rem;
        flex-direction: column;

        > * {
          margin: 0.5rem;
        }

        &.attraction-card-holder {
          flex-flow: row wrap;
          justify-content: space-around;

          mat-card.attraction-card {
            width: 25rem;
          }
        }

        div.hotel-card-holder {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-around;

          mat-card.hotel-card {
            width: 25rem;

            /deep/ {
              div.mat-card-header-text {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
              }
            }

            div.hotel-detail-holder {
              display: flex;
              justify-content: space-between;
              align-items: center;
            }

            mat-card-content {
              div.table-holder {
                display: flex;
                flex-direction: column;
              }
            }
          }
        }
      }
    }

    div.label-holder {
      display: flex;
      flex-direction: column;
      div.day-index {
        display: flex;
        flex-direction: column;
        padding: 0.5rem 0rem;
        font-size: 1.3rem;
        span {
          text-align: left;
        }
      }

      div.day-place-holder {
        display: flex;
        align-items: center;
      }
    }
  }
}
