<div class="view-container" *ngFor="let tripModel of trips">

  <mat-tab-group backgroundColor="primary">

    <mat-tab *ngFor="let dayModel of tripModel.trip.days; index as dayIndex">
      <ng-template mat-tab-label>
        <div class="label-holder">
          <div class="day-index">
            <span>Day {{ dayIndex + 1 }}</span>
          </div>
          <div class="day-place-holder">
            <div class="day-place">
              <span>{{ dayModel.day.places[0].place.name }}</span>
            </div>
            <mat-icon>navigate_next</mat-icon>
            <div class="day-place">
              <span>{{ dayModel.day.places[1].place.name }}</span>
            </div>
          </div>
        </div>
      </ng-template>

      <ng-container>
        <mat-tab-group mat-align-tabs="center" backgroundColor="primary">
          <!-- <mat-tab>
            <ng-template mat-tab-label>
              <span>Overview</span>
            </ng-template>
          </mat-tab> -->

          <mat-tab>
            <ng-template mat-tab-label>
              <span>Tourist Attractions</span>
            </ng-template>
            <div class="tab-content attraction-card-holder">
              <mat-card class="attraction-card" *ngFor="let placeModel of dayModel.day.places">
                <mat-card-header>
                  <mat-card-title>
                    <span>{{ placeModel.place.name }}</span>
                  </mat-card-title>
                  <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <mat-accordion>
                    <mat-expansion-panel *ngFor="let attractionModel of placeModel.place.attractions">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <span>{{ attractionModel.attraction.name }}</span>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div class="expansion-panel-contents">
                        <span>Some details about attraction</span>
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>
                </mat-card-content>
              </mat-card>
            </div>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <span>Hotel / Stay</span>
            </ng-template>
            <div class="tab-content">

              <mat-accordion>
                <mat-expansion-panel *ngFor="let placeModel of dayModel.day.places">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <span>{{ placeModel.place.name }}</span>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="hotel-card-holder">
                    <mat-card class="hotel-card" *ngFor="let stayModel of placeModel.place.stays">
                      <mat-card-header>
                        <mat-card-title>
                          <div class="hotel-name">
                            <span>{{ stayModel.stay.name }}</span>
                          </div>
                        </mat-card-title>
                        <mat-card-subtitle>
                          <div class="hotel-detail-holder">
                            <div class="hotel-address">
                              <span>{{ stayModel.stay.address }}</span>
                            </div>
                            <div class="hotel-contact">
                              <span>{{ stayModel.stay.contact }}</span>
                            </div>
                          </div>
                        </mat-card-subtitle>
                      </mat-card-header>
                      <mat-card-content>
                        <mat-table [dataSource]="stayModel.stay.rooms">
                          <ng-container matColumnDef="type">
                            <mat-header-cell *matHeaderCellDef>
                              <span>Room Type</span>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let cellDef">
                              <span>{{ cellDef.room.type }}</span>
                            </mat-cell>
                          </ng-container>
                          <ng-container matColumnDef="cost">
                            <mat-header-cell *matHeaderCellDef>
                              <span>Cost</span>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let cellDef">
                              <span>{{ cellDef.room.cost }}</span>
                            </mat-cell>
                          </ng-container>
                          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        </mat-table>
                      </mat-card-content>
                    </mat-card>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>

            </div>
          </mat-tab>

          <!-- <mat-tab>
            <ng-template mat-tab-label>
              <span>Transit</span>
            </ng-template>
          </mat-tab> -->

        </mat-tab-group>
      </ng-container>
    </mat-tab>

  </mat-tab-group>


</div>