div.view-container {
  display: flex;
  flex-direction: column;

  mat-tab-group {
    display: flex;
    flex-direction: row;

    /deep/ {
      mat-tab-header.mat-tab-header {
        border-bottom: 0px solid rgba(0, 0, 0, 0);
        min-width: 15rem;
        max-width: 25rem;
      }

      div.mat-tab-labels {
        flex-direction: column;
      }

      div.mat-tab-label {
        height: unset;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 1rem;
      }

      div.mat-tab-label-active {
        opacity: 1;
      }

      mat-ink-bar.mat-ink-bar {
        display: none;
      }

      div.mat-tab-header-pagination {
        display: none;
      }

      div.mat-tab-body-wrapper {
        flex: 1 1 auto;
      }
    }

    mat-tab-group {
      display: flex;
      flex-direction: column;

      /deep/ {
        mat-tab-header.mat-tab-header {
          border-bottom: 1px solid rgba(0, 0, 0, 0.12);
          min-width: unset;
          max-width: unset;
        }

        div.mat-tab-labels {
          flex-direction: row;
        }

        div.mat-tab-label {
          height: 3rem;
          justify-content: center;
          align-items: center;
        }

        div.mat-tab-label-active {
          opacity: 1 !important;
        }

        mat-ink-bar.mat-ink-bar {
          display: flex;
        }

        div.mat-tab-header-pagination {
          display: flex;
          align-self: stretch;
        }

        div.mat-tab-body-wrapper {
          flex: 1 0 auto;
        }
      }

      div.tab-content {
        display: flex;
        // padding: 0.5rem;
        flex-direction: column;

        > * {
          margin: 0.5rem;
        }

        &.attraction-card-holder {
          flex-flow: row wrap;
          justify-content: space-around;

          mat-card.attraction-card {
            width: 25rem;
            margin: 0.5rem;
          }
        }

        div.stay-card-holder {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-around;

          mat-card.stay-card {
            width: 25rem;
            margin: 0.5rem;

            /deep/ {
              div.mat-card-header-text {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
              }
            }

            div.stay-detail-holder {
              display: flex;
              justify-content: space-between;
              align-items: center;
            }

            mat-card-content {
              div.table-holder {
                display: flex;
                flex-direction: column;
              }
            }
          }
        }
      }
    }

    div.label-holder {
      display: flex;
      flex-direction: column;
      div.day-index {
        display: flex;
        flex-direction: column;
        padding: 0.5rem 0rem;
        font-size: 1.3rem;
        span {
          text-align: left;
        }
      }

      div.day-place-holder {
        display: flex;
        align-items: center;
      }
    }
  }
}
