<div class="form-holder">
  <form action="javascript:void(0)" [formGroup]="tripForm">
    <div class="card-holder">
      <mat-card class="master-card">
        <mat-card-header>
          <mat-card-title>
            <span>Create a New Trip</span>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-horizontal-stepper labelPosition="bottom">
            <mat-step>
              <ng-template matStepLabel>
                <span>Enter the Source Details</span>
              </ng-template>
              <div class="step-detail-holder">
                <ng-container formGroupName="tripStart">
                  <div class="form-field-holder">
                    <div class="form-field">
                      <mat-form-field>
                        <input matInput type="text" placeholder="Source City" autofocus="true"
                          formControlName="sourceCity" [value]="tripForm.get('tripStart').get('sourceCity').value">
                        <mat-error *ngIf="tripForm.get('tripStart').get('sourceCity').hasError('required')">
                          <span>Source City is required!</span>
                        </mat-error>
                        <button mat-button mat-icon-button matSuffix tabindex="0"
                          *ngIf="tripForm.get('tripStart').get('sourceCity').value"
                          (click)="clearInput(tripForm.get('tripStart').get('sourceCity'))">
                          <mat-icon>close</mat-icon>
                        </button>
                      </mat-form-field>
                    </div>
                    <div class="form-field">
                      <mat-form-field>
                        <input matInput [matDatepicker]="startDatePicker" [min]="today" placeholder="Start Date"
                          formControlName="startDate">
                        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #startDatePicker></mat-datepicker>
                        <mat-error *ngIf="tripForm.get('tripStart').get('startDate').hasError('required')">
                          <span>Trip Start Date is required!</span>
                        </mat-error>
                        <mat-error *ngIf="tripForm.get('tripStart').get('startDate').hasError('invalidDate')">
                          <span>Date format is incorrect</span>
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </ng-container>
                <div class="button-holder">
                  <div class="button">
                    <button mat-raised-button matStepperNext color="primary" class="next-button" type="button"
                      *ngIf="tripForm.get('tripStart').valid">
                      <span>Enter Trip Details</span>
                      <mat-icon>chevron_right</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </mat-step>
            <mat-step *ngIf="tripForm.get('tripStart').valid">
              <ng-template matStepLabel>
                <span>Enter Trip Details</span>
              </ng-template>
              <div class="step-detail-holder">
                <div class="trip-detail-holder">
                  <div class="trip-detail">
                    <mat-accordion
                      *ngIf="tripForm.get('tripStart').get('sourceCity').value !== '' && tripForm.get('tripStart').get('startDate').value !== ''">
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            <span>Trip Start Details</span>
                          </mat-panel-title>
                          <mat-panel-description></mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="accordion-detail-holder">
                          <div class="accordion-detail">
                            <span>The trip starts from
                              {{ tripForm.get('tripStart').get('sourceCity').value | titlecase }} on
                              {{ getCurrentDate(tripForm.get('tripStart').get('startDate').value, 0) }}</span>
                          </div>
                        </div>
                      </mat-expansion-panel>
                    </mat-accordion>
                  </div>
                  <div class="trip-detail">
                    <mat-vertical-stepper formArrayName="days" #dayStepper>
                      <mat-step *ngFor="let day of tripForm.get('days').controls; let dayIndex = index;"
                        errorMessage="One or more fields blank in this stepper">
                        <ng-template matStepLabel>
                          <span>{{ getCurrentDate(tripForm.get('tripStart').get('startDate').value, dayIndex) }}</span>
                        </ng-template>
                        <div class="step-detail-holder">
                          <div class="trip-entity-title-holder">
                            <div class="trip-entity-title">
                              <span>Day {{ dayIndex + 1 }} details</span>
                            </div>
                            <div class="button-holder">
                              <div class="button" *ngIf="dayIndex !== 0">
                                <button mat-raised-button mat-icon-button matStepperPrevious matTooltip="Previous Day">
                                  <mat-icon>chevron_left</mat-icon>
                                </button>
                              </div>
                              <div class="button">
                                <button mat-raised-button mat-icon-button (click)="deleteDay(dayIndex)">
                                  <mat-icon>delete</mat-icon>
                                </button>
                              </div>
                              <div class="button" *ngIf="dayIndex !== tripForm.get('days').controls.length - 1">
                                <button mat-raised-button mat-icon-button matStepperNext matTooltip="Next Day">
                                  <mat-icon>chevron_right</mat-icon>
                                </button>
                              </div>
                            </div>
                          </div>
                          <app-ia-new-day [dayFormGroup]="tripForm.get('days').controls[dayIndex]"
                            [dayIndex]="{ day: dayIndex }">
                          </app-ia-new-day>
                        </div>
                      </mat-step>
                    </mat-vertical-stepper>
                  </div>
                </div>
                <div class="button-holder">
                  <div class="button">
                    <button mat-raised-button color="primary" type="button" (click)="addNewDay(dayStepper)">
                      <span>Add New Day</span>
                    </button>
                  </div>
                </div>
              </div>
            </mat-step>
          </mat-horizontal-stepper>
        </mat-card-content>
        <mat-card-actions>
          <div class="button-holder">
            <div class="button" id="create-trip">
              <button mat-raised-button color="primary" *ngIf="tripForm.valid" (click)="formSubmit()">
                <span>Create Trip</span>
              </button>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </form>
</div>