div {
  display: flex;
  flex-direction: column;
}

div.form-holder {
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

mat-card.master-card {
  mat-card-content {
    mat-form-field {
      display: flex;
      flex-direction: column;
      font-size: 1rem;
    }

    div.trip-detail {
      margin: 0.5rem 0rem;
    }

    mat-horizontal-stepper {
      /deep/ {
        div.mat-horizontal-stepper-header-container {
          justify-content: center;
        }
        div.mat-horizontal-content-container {
          padding: 0rem 1rem;
        }
      }

      div.button-holder {
        justify-content: flex-end;
        align-items: flex-end;

        div.button {
          margin: 0.5rem;

          button.next-button {
            padding: 0rem 0.5rem 0rem 1rem;
          }

          button.previous-button {
            padding: 0rem 1rem 0rem 0.5rem;
          }
        }
      }
    }

    div.day-title-holder,
    div.place-title-holder,
    div.attraction-card-title-holder,
    div.stay-card-title-holder {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-size: 1.25rem;
    }

    mat-card.attraction-card {
      margin: 0.5rem;
      /deep/ {
        div.mat-card-header-text {
          display: flex;
          flex-direction: column;
          flex: 1;
        }
      }
    }

    mat-card.stay-card {
      margin: 0.5rem;

      /deep/ {
        div.mat-card-header-text {
          display: flex;
          flex-direction: column;
          flex: 1;
        }
      }

      mat-list-item {
        height: unset;

        /deep/ {
          div.mat-list-item-content {
            padding: 0rem;
          }
        }

        div.room-detail {
          flex-direction: row;
          justify-content: center;
          align-items: center;

          div.form-field-holder {
            margin: 0rem 0.5rem;
            flex-flow: row wrap;

            div.form-field {
              flex: 1;
              margin: 0rem 0.5rem;
            }
          }
        }
      }
    }
  }
  mat-card-actions {
    margin: 0rem;
    padding: 0rem;

    // div.button-holder {
    // div.button {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // }
    // }
  }
}
