<div class="form-holder">
  <form action="javascript:void(0)" [formGroup]="newTripForm.get('trip')">

    <div class="card-holder">
      <mat-card class="master-card">
        <mat-card-header>
          <mat-card-title>
            <span>Create a New Trip</span>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

          <mat-horizontal-stepper labelPosition="bottom" linear="true">

            <mat-step [stepControl]="tripInit">
              <ng-template matStepLabel>
                <span>Enter the Source Details</span>
              </ng-template>
              <div class="step-detail-holder">
                <form action="javascript:void(0)" formGroupName="tripInit">
                  <div class="form-field-holder">
                    <div class="form-field">
                      <mat-form-field>
                        <input matInput type="text" placeholder="Source City" formControlName="sourceCity"
                          autofocus="true">
                        <mat-error
                          *ngIf="newTripForm.get('trip').get('tripInit').get('sourceCity').hasError('required')">
                          <span>Source City is required!</span>
                        </mat-error>
                        <button mat-button mat-icon-button matSuffix
                          *ngIf="newTripForm.get('trip').get('tripInit').get('sourceCity').value"
                          (click)="clearInput(newTripForm.get('trip').get('tripInit').get('sourceCity'))" tabindex="0">
                          <mat-icon>close</mat-icon>
                        </button>
                      </mat-form-field>
                    </div>
                    <div class="form-field">
                      <mat-form-field>
                        <input matInput [matDatepicker]="startDatePicker" [min]="today" placeholder="Start Date"
                          formControlName="startDate">
                        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #startDatePicker></mat-datepicker>
                        <mat-error
                          *ngIf="newTripForm.get('trip').get('tripInit').get('startDate').hasError('required')">
                          <span>Trip Start Date is required!</span>
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </form>
                <!-- <mat-divider></mat-divider> -->
                <div class="button-holder">
                  <div class="button">
                    <!-- <button mat-raised-button matStepperNext color="primary" class="next-button" type="button" (click)="sendToNextStep(newTripForm.get('trip').get('sourceCity'), newTripForm.get('trip').get('startDate'))"> -->
                    <button mat-raised-button matStepperNext color="primary" class="next-button" type="button">
                      <span>Enter Trip Details</span>
                      <mat-icon>chevron_right</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </mat-step>

            <mat-step [stepControl]="">
              <ng-template matStepLabel>
                <span>Enter Trip Details</span>
              </ng-template>
              <div class="step-detail-holder">

                <div class="trip-detail-holder">

                  <mat-vertical-stepper formArrayName="days">
                    <mat-step *ngFor="let day of newTripForm.get('trip').get('days').controls; let dayIndex = index;"
                      [stepControl]="dayIndex">
                      <ng-template matStepLabel>
                        <span>Day {{ dayIndex + 1 }}</span>
                      </ng-template>
                      <div class="step-detail-holder">

                        <form action="javascript:void(0)" [formGroupName]="dayIndex">
                          <mat-horizontal-stepper labelPosition="bottom" formArrayName="places">
                            <mat-step
                              *ngFor="let place of newTripForm.get('trip').get('days').controls[dayIndex].get('places').controls; let placeIndex = index;">
                              <ng-template matStepLabel>
                                <span>Place {{ placeIndex + 1 }}</span>
                              </ng-template>

                              <div class="step-detail-holder">

                                <form class="form-field-holder" [formGroupName]="placeIndex">
                                  <div class="form-field">
                                    <mat-form-field>
                                      <input matInput type="text" placeholder="City" autofocus="true"
                                        formControlName="name">
                                      <mat-error *ngIf="place.get('name').hasError('required')">
                                        <span>City name is required!</span>
                                      </mat-error>
                                      <button mat-button matSuffix mat-icon-button
                                        (click)="clearInput(place.get('name'))" tabindex="0">
                                        <mat-icon>close</mat-icon>
                                      </button>
                                    </mat-form-field>
                                  </div>
                                  <mat-vertical-stepper>
                                    <mat-step>
                                      <ng-template matStepLabel><span>Attractions</span></ng-template>

                                      <div class="step-detail-holder">
                                        <div class="attraction-detail-holder"
                                          *ngFor="let attraction of newTripForm.get('trip').get('days').controls[dayIndex].get('places').controls[placeIndex].get('attractions').controls; let attractionIndex = index;">
                                          <div class="attraction-card-holder" formArrayName="attractions">
                                            <form action="javascript:void(0)" [formGroupName]="attractionIndex">
                                              <mat-card class="attraction-card">
                                                <mat-card-header>
                                                  <mat-card-title>
                                                    <span>Add attraction details</span>
                                                  </mat-card-title>
                                                  <mat-card-subtitle></mat-card-subtitle>
                                                </mat-card-header>
                                                <mat-card-content>
                                                  <div class="form-field-holder">
                                                    <div class="form-field">
                                                      <mat-form-field>
                                                        <input matInput type="text" placeholder="Name of attraction"
                                                          formControlName="name">
                                                        <mat-error *ngIf="attraction.get('name').hasError('required')">
                                                          <span>Attraction Name is required</span>
                                                        </mat-error>
                                                        <button mat-button *ngIf="true" matSuffix mat-icon-button
                                                          (click)="clearInput(attraction.get('name'))" tabindex="0">
                                                          <mat-icon>close</mat-icon>
                                                        </button>
                                                      </mat-form-field>
                                                    </div>

                                                    <div class="form-field">
                                                      <mat-form-field>
                                                        <textarea matInput placeholder="Details of attraction"
                                                          formControlName="description"></textarea>
                                                      </mat-form-field>
                                                    </div>
                                                  </div>
                                                </mat-card-content>
                                              </mat-card>
                                            </form>
                                          </div>
                                        </div>
                                        <div class="button-holder">
                                          <div class="button">
                                            <button mat-raised-button color="primary"
                                              (click)="addNewAttraction(dayIndex, placeIndex)">
                                              <span>Add New Attraction</span>
                                            </button>
                                          </div>
                                        </div>
                                      </div>
                                    </mat-step>

                                    <mat-step>
                                      <ng-template matStepLabel><span>Stays</span></ng-template>
                                      <div class="step-detail-holder">

                                        <div class="stay-detail-holder"
                                          *ngFor="let stay of newTripForm.get('trip').get('days').controls[dayIndex].get('places').controls[placeIndex].get('stays').controls; let stayIndex = index;">
                                          <div class="stay-card-holder" formArrayName="stays">
                                            <form action="javascript:void(0)" [formGroupName]="stayIndex">
                                              <mat-card class="hotel-card">
                                                <mat-card-header>
                                                  <mat-card-title>
                                                    <span>Add hotel details</span>
                                                  </mat-card-title>
                                                  <mat-card-subtitle></mat-card-subtitle>
                                                </mat-card-header>
                                                <mat-card-content>
                                                  <div class="form-field-holder">
                                                    <div class="form-field">
                                                      <mat-form-field>
                                                        <input matInput type="text" placeholder="Name of the hotel"
                                                          formControlName="name">
                                                        <mat-error *ngIf="stay.get('name').hasError('required')">
                                                          <span>Hotel Name is required</span>
                                                        </mat-error>
                                                        <button mat-button *ngIf="true" matSuffix mat-icon-button
                                                          (click)="clearInput(stay.get('name'))" tabindex="0">
                                                          <mat-icon>close</mat-icon>
                                                        </button>
                                                      </mat-form-field>
                                                    </div>
                                                    <div class="form-field">
                                                      <mat-form-field>
                                                        <input matInput type="text"
                                                          value="3VFG+MV Mumbai, Maharashtra, India"
                                                          placeholder="Location (Use Google Maps Plus Code)"
                                                          formControlName="address">
                                                        <button mat-button matSuffix mat-icon-button>
                                                          <mat-icon>close</mat-icon>
                                                        </button>
                                                      </mat-form-field>
                                                    </div>
                                                    <div class="form-field">
                                                      <mat-form-field>
                                                        <input matInput type="text" placeholder="Contact"
                                                          formControlName="contact">
                                                        <button mat-button matSuffix mat-icon-button>
                                                          <mat-icon>close</mat-icon>
                                                        </button>
                                                      </mat-form-field>
                                                    </div>
                                                  </div>

                                                  <div class="room-list-holder">
                                                    <mat-accordion>
                                                      <mat-expansion-panel>
                                                        <mat-expansion-panel-header>
                                                          <mat-panel-title>
                                                            <span>Room Details</span>
                                                          </mat-panel-title>
                                                        </mat-expansion-panel-header>
                                                        <mat-list>
                                                          <mat-list-item
                                                            *ngFor="let room of newTripForm.get('trip').get('days').controls[dayIndex].get('places').controls[placeIndex].get('stays').controls[stayIndex].get('rooms').controls; let roomIndex = index;">
                                                            <div class="room-detail-holder" formArrayName="rooms">
                                                              <form action="javascript:void(0)"
                                                                [formGroupName]="roomIndex">
                                                                <div class="room-detail">
                                                                  <div class="form-field-holder">
                                                                    <div class="form-field">
                                                                      <mat-form-field>
                                                                        <mat-label>Select Room</mat-label>
                                                                        <mat-select formControlName="type">
                                                                          <mat-option>
                                                                            <span>--</span>
                                                                          </mat-option>
                                                                          <mat-option
                                                                            *ngFor="let option of roomOptions;"
                                                                            [value]="option.optionValue">
                                                                            <span>{{ option.optionText }}</span>
                                                                          </mat-option>
                                                                        </mat-select>
                                                                      </mat-form-field>
                                                                    </div>

                                                                    <div class="form-field">
                                                                      <mat-form-field>
                                                                        <input matInput placeholder="Cost" type="number"
                                                                          formControlName="cost">
                                                                        <span matPrefix>₹&nbsp;</span>
                                                                        <button mat-button matSuffix mat-icon-button>
                                                                          <mat-icon>close</mat-icon>
                                                                        </button>
                                                                      </mat-form-field>
                                                                    </div>
                                                                  </div>
                                                                  <div class="button-holder">
                                                                    <div class="button">
                                                                      <button mat-button mat-icon-button
                                                                        (click)="deleteRoom(dayIndex, placeIndex, stayIndex, roomIndex)">
                                                                        <mat-icon>delete</mat-icon>
                                                                      </button>
                                                                    </div>
                                                                  </div>
                                                                </div>
                                                              </form>
                                                            </div>
                                                          </mat-list-item>
                                                        </mat-list>
                                                        <div class="button-holder">
                                                          <div class="button">
                                                            <button mat-raised-button color="primary"
                                                              (click)="addNewRoom(dayIndex, placeIndex, stayIndex)">
                                                              <span>Add Room</span>
                                                            </button>
                                                          </div>
                                                        </div>
                                                      </mat-expansion-panel>
                                                    </mat-accordion>
                                                  </div>
                                                  <!-- <div class="hotel-form-holder">
                                                  <div class="table-holder">
                                                    <table mat-table
                                                           [dataSource]="dataSource"
                                                           formArrayName="rooms">
                                                      <ng-container matColumnDef="type">
                                                        <th mat-header-cell
                                                            *matHeaderCellDef>
                                                          <span>Room Type</span>
                                                        </th>
                                                        <td mat-cell
                                                            *matCellDef="let cellDef; let roomIndex = index;"
                                                            [formGroupName]="roomIndex">
                                                          <mat-form-field>
                                                            <mat-label>Select Room</mat-label>
                                                            <mat-select formControlName="type">
                                                              <mat-option>
                                                                <span>--</span>
                                                              </mat-option>
                                                              <mat-option *ngFor="let option of roomOptions;"
                                                                          [value]="option.optionValue">
                                                                <span>{{ option.optionText }}</span>
                                                              </mat-option>
                                                            </mat-select>
                                                          </mat-form-field>
                                                        </td>
                                                      </ng-container>
                                                      <ng-container matColumnDef="cost">
                                                        <th mat-header-cell
                                                            *matHeaderCellDef>
                                                          <span>Cost</span>
                                                        </th>
                                                        <td mat-cell
                                                            *matCellDef="let cellDef; let roomIndex = index;"
                                                            [formGroupName]="roomIndex">
                                                          <mat-form-field>
                                                            <input matInput
                                                                   placeholder="Cost"
                                                                   type="number"
                                                                   formControlName="cost">
                                                            <span matPrefix>₹&nbsp;</span>
                                                            <button mat-button
                                                                    matSuffix
                                                                    mat-icon-button>
                                                              <mat-icon>close</mat-icon>
                                                            </button>
                                                          </mat-form-field>
                                                        </td>
                                                      </ng-container>
                                                      <ng-container matColumnDef="actions">
                                                        <th mat-header-cell
                                                            *matHeaderCellDef>
                                                          <span></span>
                                                        </th>
                                                        <td mat-cell
                                                            *matCellDef="let cellDef; let roomIndex = index;"
                                                            [formGroupName]="roomIndex">
                                                          <button mat-button
                                                                  mat-icon-button
                                                                  (click)="deleteRoom(dayIndex, placeIndex, stayIndex, roomIndex)">
                                                            <mat-icon>delete</mat-icon>
                                                          </button>
                                                        </td>
                                                      </ng-container>
                                                      <tr mat-header-row
                                                          *matHeaderRowDef="displayedColumns"></tr>
                                                      <tr mat-row
                                                          *matRowDef="let row; columns: displayedColumns;"></tr>
                                                    </table>
                                                    <div class="button-holder">
                                                      <div class="button">
                                                        <button mat-raised-button
                                                                color="primary"
                                                                (click)="addNewRoom(dayIndex, placeIndex, stayIndex)">
                                                          <span>Add New Room</span>
                                                        </button>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div> -->
                                                </mat-card-content>
                                              </mat-card>
                                            </form>
                                          </div>
                                        </div>
                                        <div class="button-holder">
                                          <div class="button">
                                            <button mat-raised-button color="primary"
                                              (click)="addNewStay(dayIndex, placeIndex)">
                                              <span>Add New Stay</span>
                                            </button>
                                          </div>
                                        </div>
                                      </div>
                                    </mat-step>
                                  </mat-vertical-stepper>
                                </form>
                              </div>
                            </mat-step>
                          </mat-horizontal-stepper>
                        </form>
                        <div class="button-holder">
                          <div class="button">
                            <button mat-raised-button color="primary" (click)="addNewPlace(dayIndex)">
                              <span>Add New Place</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </mat-step>
                  </mat-vertical-stepper>
                </div>
                <div class="button-holder">
                  <div class="button">
                    <button mat-raised-button color="primary" (click)="addNewDay()">
                      <span>Add New Day</span>
                    </button>
                  </div>
                </div>
              </div>
            </mat-step>
          </mat-horizontal-stepper>
        </mat-card-content>
        <mat-card-actions>
          <div class="button-holder">
            <div class="button">
              <button mat-raised-button color="primary">
                <span>Create Trip</span>
              </button>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </form>
</div>