div.form-holder {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-card.master-card {
  max-width: 30rem;

  mat-card-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /deep/ {
      div.mat-card-header-text {
        margin: 0rem;
      }
    }
  }

  mat-card-content {
    margin: 0rem;

    mat-form-field {
      display: flex;
      flex-direction: column;
      font-size: 1rem;
    }
  }
  mat-card-actions {
    margin: 0rem;
    padding: 0rem;

    div.button-holder {
      div.button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;
      }
    }
  }
}
