<form action="javascript:void(0)" [formGroup]="placeFormGroup">
  <div class="trip-entity-title-holder">
    <div class="trip-entity-title">
      <span>Add place details</span>
    </div>
    <div class="button-holder">
      <div class="button" *ngIf="placeIndex.place !== 0">
        <button mat-raised-button mat-icon-button matStepperPrevious matTooltip="Previous Place">
          <mat-icon>chevron_left</mat-icon>
        </button>
      </div>
      <div class="button">
        <button mat-raised-button mat-icon-button tabindex="0" (click)="deletePlace(placeIndex)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <div class="button" *ngIf="placeIndex.place !== placesLength - 1">
        <button mat-raised-button mat-icon-button matStepperNext matTooltip="Next Place">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="form-field-holder">
    <div class="form-field">
      <mat-form-field>
        <input matInput type="text" placeholder="Place" formControlName="name">
        <mat-error *ngIf="placeFormGroup.get('name').hasError('required')">
          <span>Place name is required!</span>
        </mat-error>
        <button mat-button matSuffix mat-icon-button tabindex="0" *ngIf="placeFormGroup.get('name').value"
          (click)="clearInput(placeFormGroup.get('name'))">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
  <mat-vertical-stepper>
    <mat-step errorMessage="One or more fields blank in this stepper">
      <ng-template matStepLabel>
        <span>Attractions</span>
      </ng-template>
      <div class="step-detail-holder">
        <mat-accordion>
          <mat-expansion-panel
            *ngFor="let attraction of placeFormGroup.get('attractions').controls; let attractionIndex = index;"
            [expanded]="attractionIndex === 0 ? 'true' : 'false'">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span
                  *ngIf="placeFormGroup.get('attractions').controls[attractionIndex].get('name').value; else defaultAttraction">{{ placeFormGroup.get('attractions').controls[attractionIndex].get('name').value }}</span>
                <ng-template #defaultAttraction>
                  <span>Attraction {{ attractionIndex + 1 }}</span>
                </ng-template>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="mat-expansion-content">
              <ng-container formArrayName="attractions">
                <app-ia-new-attraction
                  [attractionFormGroup]="placeFormGroup.get('attractions').controls[attractionIndex]"
                  [attractionIndex]="{ day: placeIndex.day, place: placeIndex.place, attraction: attractionIndex }">
                </app-ia-new-attraction>
              </ng-container>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
        <div class="button-holder">
          <div class="button">
            <button mat-raised-button color="primary" type="button" (click)="addNewAttraction(placeIndex)">
              <span>Add New Attraction</span>
            </button>
          </div>
        </div>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel><span>Stays</span></ng-template>
      <div class="step-detail-holder">
        <mat-accordion>
          <mat-expansion-panel *ngFor="let stay of placeFormGroup.get('stays').controls; let stayIndex = index;"
            [expanded]="stayIndex === 0 ? 'true' : 'false'">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span
                  *ngIf="placeFormGroup.get('stays').controls[stayIndex].get('name').value; else defaultStay">{{ placeFormGroup.get('stays').controls[stayIndex].get('name').value }}</span>
                <ng-template #defaultStay>
                  <span>Stay {{ stayIndex + 1 }}</span>
                </ng-template>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="mat-expansion-content">
              <ng-container formArrayName="stays">
                <app-ia-new-stay [stayFormGroup]="placeFormGroup.get('stays').controls[stayIndex]"
                  [stayIndex]="{ day: placeIndex.day, place: placeIndex.place, stay: stayIndex }">
                </app-ia-new-stay>
              </ng-container>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
        <div class="button-holder">
          <div class="button">
            <button mat-raised-button color="primary" type="button" (click)="addNewStay(placeIndex)">
              <span>Add New Stay</span>
            </button>
          </div>
        </div>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</form>