div {
  display: flex;
}

div.confirm-dialog-holder {
  justify-content: space-between;
  align-items: center;
  div.message-holder {
    padding: 1rem;
    font-size: 1.25rem;
  }
  div.button-holder {
    justify-content: center;
    align-items: center;
    div.button {
      margin: 0.5rem;
    }
  }
}
