div {
  display: flex;
  flex-direction: column;
}

mat-card.stay-card {
  margin: 0.5rem;

  /deep/ {
    div.mat-card-header-text {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
  }
  div.form-field {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1;
  }
}

mat-list-item {
  height: auto !important;

  /deep/ {
    div.mat-list-item-content {
      padding: 0rem;
    }
  }
}

mat-form-field {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-size: 1rem;
}

div.stay-card-title-holder {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
}

div.button-holder {
  div.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin: 0.5rem 0rem 0.5rem 1rem;
  }
}
